In [ ]:
#Datatypes - Basic

name="Krishna" #string
print(name)

age=21
print(age) #Integer

balance=50.0
print(balance) #float

has_credit_card = False
print(has_credit_card) #boolean